body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(237, 236, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 30%;
  margin-left: 35%;
  padding: 25px 0;
}

.title {
  font-size: 28px;
  margin-bottom: 25px;
}

.card {
  background-color: white;
  box-shadow: 1px 1px 4px gray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.transaction {
  background-color: white;
  box-shadow: 1px 1px 4px gray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.amount {
  float: right;
}

.plus {
  border-right: 4px solid darkgreen;
}

.minus {
  border-right: 4px solid darkred;
}

.subtitle {
  color: rgb(69, 68, 68);
}

.balance {
  font-size: 24px;
  font-weight: 500;
}

.f-c {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.income {
  width: 50%;
  border-right: 0.5px solid grey;
}

.income > .num {
  color: darkgreen;
  font-size: 22px;
  font-weight: 500;
}

.expense {
  width: 50%;
  float: right;
  border-left: 0.5px solid grey;
}

.expense > .num {
  color: darkred;
  font-size: 22px;
  font-weight: 500;
}

button {
  background-color: transparent;
  border: none;
  color: gray;
}

button:hover {
  color: black;
  cursor: pointer;
}

form {
  width: 100%;
}

form > input {
  width: 45%;
}

.f-r {
  float: right;
}

form > button {
  margin-bottom: 20px;
}
